*,*:after,*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

#ui-datepicker-div {
	width: 15em;
}
/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

body {
	background: #f4f4f4 url(http://i.imgur.com/Okzc1Bk.png);
}

#container {
	position: relative;
}

.sidemenu {
	position: absolute;
	top:0;
	width: 200px;
}

.login-view + .sidemenu {
	display: none;
}

.login-view .login {
	background: none;
	color: #000000;
	padding: 100px 38px;
}

.login-view .login-screen {
	background-color: transparent;
	width: 589px;
	margin: 0 auto;
	padding: 0;
	position: relative;
}

.login-screen .login-icon {
	left: 0;
	top: 0;
	width: 96px;
}

.login-form {
	margin-left: 120px;
}

.login-form .login-field {
	width: 409px;
	height: 47px;
}

.login-form .login-field-icon {
	right: 20px;
}

.other-account a {
	text-decoration: none;
	width: 36px;
	display: inline-block;
	padding-right: 5px;
	overflow: hidden;
	transition: padding-right 200ms;
}

.other-account a span {
	margin-left: 5px;
	font-size: 1.5em;
	vertical-align: 7px;
}

.other-account a:hover {
	padding-right: 130px;
}

#container > div[class$=-view] {
	margin-left: 200px;
}

#container div.login-view {
	margin-left: 0;
}

.refine li {
	float: left;
	padding-left: 5px;
}

.refine li:not(:first-child):before {
	content: '|'
}

.refine li.active {
	font-weight: 600;
}



@media (min-width: 1200px) {
	.login-form .login-field {
		width: 409px;
	}
}