*,*:after,*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/* Checkbox Styles */
.checkbox {
    width: 20px;
    position: relative;
}

.checkbox label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    border-radius: 4px;
    background: #1abc9c
}

.checkbox label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 7px;
    left: 6px;
    border: 3px solid #fff;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.checkbox label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.5;
}

.checkbox input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

#ui-datepicker-div {
    width: 15em;
}
/* css for timepicker */
.ui-timepicker-div .ui-widget-header {
    margin-bottom: 8px;
}

.ui-timepicker-div dl {
    text-align: left;
}

.ui-timepicker-div dl dt {
    height: 25px;
    margin-bottom: -25px;
}

.ui-timepicker-div dl dd {
    margin: 0 10px 10px 65px;
}

.ui-timepicker-div td {
    font-size: 90%;
}

.ui-tpicker-grid-label {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.ui-timepicker-rtl {
    direction: rtl;
}

.ui-timepicker-rtl dl {
    text-align: right;
}

.ui-timepicker-rtl dl dd {
    margin: 0 65px 10px 10px;
}

body {
    background: #f4f4f4 url(http://i.imgur.com/Okzc1Bk.png);
}

#container {
    position: relative;
}

.sidemenu {
    position: absolute;
    top: 0;
    width: 200px;
}

.login-view + .sidemenu {
    display: none;
}

.login-view .login {
    background: none;
    color: #000000;
    padding: 100px 38px;
}

.login-view .login-screen {
    background-color: transparent;
    width: 589px;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

.login-screen .login-icon {
    left: 0;
    top: 0;
    width: 96px;
}

.login-form {
    margin-left: 120px;
}

.login-form .login-field {
    width: 409px;
}

.login-form .login-field-icon {
    right: 20px;
}

.other-account a {
    text-decoration: none;
    width: 36px;
    display: inline-block;
    padding-right: 5px;
    overflow: hidden;
    transition: padding-right 200ms;
}

.other-account a span {
    margin-left: 5px;
    font-size: 1.5em;
    vertical-align: 7px;
}

.other-account a:hover {
    padding-right: 130px;
}

#container > div[class$=-view] {
    margin-left: 200px;
}

#container div.login-view {
    margin-left: 0;
}

.posts-view .search {
    position: absolute;
    top: 10px;
    right: 0;
}

.posts-view .navigation.up .howmany,
.posts-view .navigation.down .refine,
.posts-view .navigation.down .pagination {
	display: none;
}

.navigation .pagination {
    font-size: 14px;
    margin: 0;
}

.navigation .pagination ul {
    height: 41px;
}

.navigation.up .records {
    position: absolute;
    right: 7px;
    top: -13px;
    z-index: 1;
}

.pagination ul:empty ~ .records {
    right: 0;
    top: 0;
}

.pagination ul:empty ~ .records .label {
    padding: 13px 10px 14px;
    font-size: 1em;
}

.postlist .col.status, .postlist .col.type {
    display: none;
}

.postlist.type .col.type, .postlist.status .col.status {
    display: table-cell;
}

@media (min-width: 1200px) {
    .login-form .login-field {
        width: 409px;
    };
}