<div class="refine">
	<nav class="refinetype btn-toolbar">
		<div class="btn-group">
			<% _.each([['All', -1],['Post', 1], ['Page', 2]], function(type) { %>
			<a class="btn btn-primary <%=filters[1].value === type[1] ? 'active':''%>" href="#" 
				data-type="<%=type[1]%>"><%=type[0]%></a>
			<% })%>
		</div>
	</nav>
	<nav class="refinestatus btn-toolbar">
		<div class="btn-group">
			<% _.each([['All', -1],['Published', 1], ['Password', 2], ['Draft', 3]], function(status) { %>
			<a class="btn btn-primary <%=filters[0].value === status[1] ? 'active':''%>" href="#" 
				data-status="<%=status[1]%>"><%=status[0]%></a>
			<% })%>
		</div>
	</nav>
</div>
<div class="pagination">
	<ul>
		<% if (totalPages > 1) { %>
		<li class="previous"><a href="#" class="icon-angle-left"></a></li>
		<% } %>
		<% _.each (pageSet, function (p) { %>
		<% if (currentPage == p) { %>
			<li class="page active"><a href="#"><%= p %></a></li>
		<% } else { %>
			<li><a href="#" class="page"><%= p %></a></li>
		<% } %>
		<% }); %>
		<% if (totalPages > 1) { %>
		<li class="next"><a href="#" class="icon-angle-right"></a></li>
		<% } %>
	</ul>
</div>
<div class="howmany btn-toolbar">
	<div class="btn-group">
		<% _.each([10,20,50], function(perpage) { %>
		<a class="btn btn-primary <%=perPage === perpage?'active':''%>" href="#"><%=perpage%></a>
		<% })%>
	</div>
</div>
<div class="records">
	<h3>
	<span class="current"><%= startRecord %></span>
	-
	<span class="perpage"><%= endRecord %></span>
	of
	<span class="total"><%= totalRecords %></span>
				shown
	</h3>
</div>

<div class="search">
	<input class="search-query" type="text" />
	<a href="#" class="btn btn-primary">Search</a>
</div>
