<% if (filter && filter.selects.length > 0) { %>
<div class="refine btn-toolbar pull-left">
	<% _.each(filter.selects, function(select) { %>
	<div class="select<%=select.field%> btn-group" data-select="<%=select.field%>">
		<% var selectedvalue = (_.find(filter.filter, function(filter) { return filter.field === select.field})).value;
		   _.each(select.data, function(item) { %>
		<a class="btn btn-primary <%=selectedvalue === item[1] ? 'active':''%>" href="#" 
			data-item="<%=item[1]%>"><%=item[0]%></a>
		<% })%>
	</div>
	<% }) %>
</div>
<% } %>
<div class="btn-toolbar pull-right">
	<div class="pagination btn-group">
		<% if (info.totalPages > 1 && info.pageSet.length > 0 ) {%>
		<ul>
			<% if (info.totalPages > 1) { %>
			<li class="previous"><a href="#" class="icon-angle-left"></a></li>
			<% } %>
			<% _.each (info.pageSet, function (p) { %>
			<% if (info.currentPage == p) { %>
				<li class="page active"><a href="#"><%= p %></a></li>
			<% } else { %>
				<li><a href="#" class="page"><%= p %></a></li>
			<% } %>
			<% }); %>
			<% if (info.totalPages > 1) { %>
			<li class="next"><a href="#" class="icon-angle-right"></a></li>
			<% } %>
		</ul>
		<% } else { print('<ul></ul>')} %>
		<% if (info.totalRecords > 0) { %>
		<div class="records">
			<span class="label"><%= info.startRecord %> - <%= info.endRecord %> of <%= info.totalRecords %></span>
		</div>
		<% } %>
	</div>
</div>
<div class="btn-toolbar pull-right">
	<div class="howmany btn-group">
		<% _.each([10,20,50], function(perpage) { %>
		<a class="btn btn-primary <%=info.perPage === perpage?'active':''%>" href="#"><%=perpage%></a>
		<% })%>
	</div>
</div>
