<h1>
    Posts
</h1>
<table class="table table-hover postlist">
    <thead>
        <tr>
            <th>
                <div class="checkbox">
                <input type="checkbox" value="None" id="checkallup" />
                <label for="checkallup"></label>
                </div>
            </th>
            <th>
                Title
            </th>
            <th>
                Author
            </th>
            <th>
                Tags
            </th>
            <th>
                Status
            </th>
            <th>
                Date
            </th>
            <th>
                Type
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
        <tr>
            <th>
                <div class="checkbox">
                <input type="checkbox" value="None" id="checkalldown" />
                <label for="checkalldown"></label>
                </div>
            </th>
            <th>
                Title
            </th>
            <th>
                Author
            </th>
            <th>
                Tags
            </th>
            <th>
                Status
            </th>
            <th>
                Date
            </th>
            <th>
                Type
            </th>
        </tr>
    </tfoot>
</table>
