<h1><%=post.title.length>0? 'Edit':'Add New' %> Post</h1>
<form>
    <div class="row-fluid">
        <div class="span9 " >
            <div class="controls">
                <input type="text" placeholder="Enter title here" id="title" value="<%=post.title%>">
            </div>
            Permalink: <%=post.slug%>
            <div class="controls">
                <textarea rows="15" id="content"><%=post.content%></textarea>
            </div>
        </div>
        <div class="span3 secondary">
            <div class="controls">
                <label for="status">Publish</label>
                <select id="status">
                    <% _.each(status, function(option) {%>
                    <option value="<%=option[0]%>" <%=option[0]===post.status?'selected':''%>><%=option[1]%></option>
                    <% })%>
                </select>
            </div>
            <div class="controls">
                <label for="date">Published on</label>
                <input type="text" id="date" value='<%=moment(post.date).format("DD/MM/YYYY hh:mm A")%>'>
            </div>
            <div class="controls">
                <label for="type">Type</label>
                <select id="type">
                    <% _.each(type, function(type) {%>
                    <option value="<%=type[0]%>" <%=type[0]===post.type?'selected':''%>><%=type[1]%></option>
                    <% })%>
                </select>
            </div>
        </div>

</form>