<h1><%=isNew? 'Add New' : 'Edit' %> Post</h1>
<form>
    <div class="row-fluid">
        <div class="span9 " >
            <div class="control-group">
                <input type="text" placeholder="Enter title here" id="title">
            </div>
            <div class="control-group">
                <input type="text" placeholder="Permalink" id="slug">
            </div>
            <div class="control-group">
                <textarea rows="15" id="content"></textarea>
            </div>
        </div>
        <div class="span3 secondary">            
            <div class="control-group">
                <label for="status">Publish</label>
                <select id="status"></select>
                <a href="#" class="btn btn-large btn-block btn-primary" id="submit"><%=isNew? 'Publish' : 'Update'%></a>
            </div>
            <div class="control-group">
                <label for="date">Published on</label>
                <input type="text" id="date">
            </div>
            <div class="control-group">
                <label for="type">Type</label>
                <select id="type"></select>
            </div>
            <div class="control-group">
                <label for="tags">Tags</label>
                <input id="tags" class="tagsinput" />
            </div>
        </div>

</form>