<h1>
    Posts
</h1>
<table class="table table-hover postlist">
    <thead>
        <tr>
            <th>
                <input type="checkbox">
            </th>
            <th>
                Title
            </th>
            <th>
                Author
            </th>
            <th>
                Tags
            </th>
            <th>
                Status
            </th>
            <th>
                Date
            </th>
            <th>
                Type
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
        <tr>
            <th>
                <input type="checkbox">
            </th>
            <th>
                Title
            </th>
            <th>
                Author
            </th>
            <th>
                Tags
            </th>
            <th>
                Status
            </th>
            <th>
                Date
            </th>
            <th>
                Type
            </th>
        </tr>
    </tfoot>
</table>
<!-- <ul class="postlist">
</ul> -->
