<h1>
	Sidemenu
</h1>
<ul class="unstyled">
	<li>
		<h2><a href="posts" title="posts">Posts</a></h2>
		<ul class="unstyled">
			<li><a href="/admin/posts" title="posts">all posts</a></li>
			<li><a href="/admin/post" title="post">new post</a></li>
		</ul>
	</li>
	<li>
		<a href="tags"><h2>Tags</h2></a>
		<ul class="unstyled">
			<li>all tags</li>
			<li>new tag</li>
		</ul>
	</li>
	<li>
		<a href="users"><h2>Users</h2></a>
		<ul class="unstyled">
			<li>all users</li>
			<li>new user</li>
		</ul>
	</li>
	<li>
		<a href="settings"><h2>Settings</h2></a>
		<ul class="unstyled">
			<li>all settings</li>
			<li>new setting</li>
		</ul>
	</li>
</ul>

